@page "{categoryId?}/{scriptId?}"
@model Toolbox.Pages.User.ScriptsModel
@{
}

@section head {
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css")">
    <style>
        .logTable {
            display: block;
            line-height: initial;
            font-family: Consolas, "Courier New", monospace; /*var(--font-family-monospace);  */
            font-size: 12px;
            color: var(--white);
            min-height: 500px;
            padding: 10px;
        }

            .logTable th {
                text-align: left;
                padding: .75rem .75rem .75rem .25rem;
                font-weight: bold;
            }

                .logTable th:nth-of-type(1), .logTable td:nth-of-type(1) {
                    width: 120px;
                    white-space: nowrap;
                }

                .logTable th:nth-of-type(2), .logTable td:nth-of-type(2) {
                    width: 40px;
                }

                .logTable th:nth-of-type(3), .logTable td:nth-of-type(3) {
                    width: 100vw;
                }

            .logTable td {
                border: 0;
                padding: .1rem .25rem;
            }
    </style>
}

@section pageHeader {
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Scripts</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Script Config</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group row">
                        <label for="CategoryId" class="col-md-2 col-form-label">Category</label>
                        <div class="col-md-10">
                            <select class="custom-select" asp-for="CategoryId" asp-items="Model.Categories">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ScriptId" class="col-md-2 col-form-label">Script</label>
                        <div class="col-md-10">
                            <select class="custom-select" asp-for="ScriptId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="scriptSummary" class="col-md-2 col-form-label">Summary</label>
                        <div class="col-md-10">
                            <input id="scriptSummary" class="card-text form-control-plaintext" type="text" readonly />
                        </div>
                    </div>
                    <div class="card border-light">
                        <div class="card-header font-weight-bold">Parameters</div>
                        <div class="card-body">
                            @*<h5 class="card-title">Light card title</h5>*@
                            <div class="card-text parameters"></div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="runScript" type="button" class="btn btn-primary"><i class="fas fa-code"></i> Run</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- left column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-secondary">
                <div class="card-body">
                    <table id="log" class="logTable table table-dark table-borderless">
                        <thead><tr><th>TimeStamp</th><th>Type</th><th>Data</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

@section scripts {

    <!-- SignalR -->
    <script src="@Url.Content("~/lib/signalr/dist/browser/signalr.min.js")"></script>
    <!-- DataTables  & Plugins -->
    <script src="@Url.Content("~/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.print.min.js")"></script>

    <script>

        $(document).ready(function () {
            $('#log').DataTable({
                "buttons": [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', className: 'btn-sm' },
                    { extend: 'excel', className: 'btn-sm' },
                    { extend: 'pdf', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ],
                "paging": false,
                "language": {
                    "emptyTable": "No output yet...  Try running the script."
                },
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": false,
            }).buttons().container().appendTo('#log_wrapper .col-md-6:eq(0)');
        });

        var connection = new signalR.HubConnectionBuilder().withUrl("/streamPowershell").build();

        //Disable run button until connection is established
        $('#runScript').prop('disabled', true);

        connection.on("OutputReceived", logRecord => {
            //console.log(logRecord)
            $('#log').DataTable().row.add([
                logRecord.timeStamp,
                logRecord.type,
                logRecord.data
            ]).draw(false).nodes().to$().addClass(dataTypeColors[logRecord.type]);
        });

        connection.start().then(function () {
            $('#runScript').prop('disabled', false);
        }).catch(err => $('#log').DataTable().row.add(["", "Error", `An error occured: ${err}`]).draw(false));

        var dataTypeColors = {
            "Data": "text-light",
            "Error": "text-danger",
            "Warning": "text-warning",
            "Info": "text-info",
            "Progress": "text-success",
            "Verbose": "text-teal",
            "Debug": "text-indigo"
        }

        // Invoke the "Stream" method, with the command
        $('#runScript').on("click", function () {
            //$('#log').DataTable().clear().draw();
            var parameters = {};
            $('div.parameters input').each(function (i) {
                parameters[this.id] = this.value;
            });

            connection.invoke("StreamPowershell", $('#ScriptId').val(), parameters).catch(function (err) {
                $('#log').DataTable().row.add(["", "Error", `An error occured: ${err}`]).draw(false);
            });
            event.preventDefault();
        });

        $("#CategoryId").on("change", function () {
            var categoryId = $(this).val();
            $("#ScriptId").empty();
            $('#scriptSummary').val("");
            $('div.parameters').empty();            
            $("#ScriptId").append("<option value=''>Select Script</option>");
            $.getJSON(`?handler=Scripts&categoryId=${categoryId}`, (data) => {
                $.each(data, function (i, item) {
                    $("#ScriptId").append(`<option value="${item.id}">${item.name}</option>`);
                });
            });
        });

        $("#ScriptId").on("change", function () {
            var scriptId = $(this).val();
            $('#scriptSummary').val("");
            $('div.parameters').empty();
            $.getJSON(`?handler=Script&scriptId=${scriptId}`, (data) => {
                $('#scriptSummary').val(data.summary);
                $.each(data.inputParms, function (i, parm) {
                    $('div.parameters').append(`<div class="form-group row">
                                                    <label for="${parm.name}" class="col-md-4 col-form-label">${parm.name}</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="${parm.name}" placeholder="${parm.description}">
                                                    </div>
                                                </div>`);
                });
            });
        });

    </script>

}
